<% provide :title, t(".title") %>

<section class="signup_section layout_padding pt-3">
  <h2 class="text-center mb-3"> <%= t ".title" %> </h2>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="form_container">
          <%= form_with url: login_path, scope: :session do |f| %>
            <%= f.label :email, t(".email"), class: "required" %>
            <%= f.text_field :email, class: "form-control mb-3" %>

            <%= f.label :password, t(".password"), class: "required" %>
            <%= f.password_field :password, class: "form-control mb-3" %>


            <%= f.label :rememeber_me, class: "form-check-label w-100" do %>
              <%= f.check_box :remember_me %>
              <span><%= t ".remember_me" %></span>
            <% end %>

            <%= f.submit t(".submit"), class: "btn_box" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
