<div class="search-form">
  <h3><%= t "search.search_intro" %></h3>
  <%= search_form_for @q do |f| %>
    <div class="search-row">
      <div class="form-group">
        <%= f.label :name_cont, t("search.search_name") %>
        <%= f.search_field :name_cont, class: "form-control name-search" %>
      </div>
      <div class="form-group">
        <%= f.label :description_cont, t("search.search_des") %>
        <%= f.search_field :description_cont, class: "form-control description-search" %>
      </div>
    </div>
    <div class="search-row">
      <div class="form-group">
        <%= f.label :category_id_eq, t("search.search_category") %>
        <%= f.collection_select :category_id_eq, Category.all, :id, :name, { include_blank: true }, class: "form-control category-search" %>
      </div>
      <div class="form-group">
        <%= f.label :price_gteq, t("search.search_min_price") %>
        <%= f.number_field :price_gteq, class: "form-control price-search" %>
      </div>
      <div class="form-group">
        <%= f.label :price_lteq, t("search.search_max_price") %>
        <%= f.number_field :price_lteq, class: "form-control price-search" %>
      </div>
    </div>
    <div class="form-group">
      <%= f.submit t("search.search"), class: "btn btn-primary search_button" %>
    </div>
  <% end %>
</div>
<section class="bg-04" id="our-menu">
  <div class="container">
    <div class="row">
      <% if @cuisines.any? %>
        <%= will_paginate @cuisines %>
        <%= render @cuisines %>
        <%= will_paginate @cuisines %>
      <% else %>
        <p>No cuisines found.</p>
      <% end %>
    </div>
  </div>
</section>
