 <tr class="order-item" >
  <th class="align-middle" scope="row"> <%= order_counter + 1 %> </th>
  <td class="align-middle"><%= order.created_at.strftime("%d/%m/%Y %H:%M") %></td>
  <td class="align-middle"><%= order.address %></td>
  <td class="align-middle">
    <div class="total-amount">
      <span><%= number_to_currency(order.sum) %></span>
    </div>
    <div class="payment">
      <span><%= t ".payment_in_cash" %></span>
    </div>
  </td>
  <td class="status-box align-middle">
    <div class="status <%= order.status %>">
      <%= t(".#{order.status}") %>
    </div>
  </td>
  <td class="align-middle">
    <%= link_to t(".view_order_detail"), "#", class: "status view-detail" %>
  </td>
  <td class="align-middle">
    <% if order.pending? %>
      <%= link_to t("order.cancel"), "/orders/#{order.id}", data: {turbo_method: :delete, turbo_confirm: t("order.delete_confirm")}, class: "status cancel" %>
    <% else %>
      <%= link_to t(".re_order"), "#", class: "status re-order" %>
    <% end %>
  </td>
</tr>
