<div class="order-container">
  <h1><%= t("order.your_order") %></h1>
 <button class="delete-order-button"><%= link_to t("order.delete_all"), orders_delete_path, data: {turbo_method: "get", turbo_confirm: t("order.delete_confirm")}, class: "delete-text-button" %></button>
 <button class="payment-order-button"><%= link_to t("order.payment"), new_order_path, class: "payment-text-button" %></button>
  <% @order_tmp.each_with_index do |order_item, index| %>
    <div class="order-item">
      <h2><%= order_item["quantity"] %> x <%= order_item["cuisine"]["name"] %> </h2>
      <button class="edit-order-item-button" data-index="<%= index %>"><%= t("order_item.edit") %></button>
      <button class="delete-order-item-button" data-index="<%= index %>"><%= t("order_item.delete") %></button>
      <p class="price"><%= t("order.price") %> <%= number_to_currency(calculate_price(order_item)) %></p>
      <ul class="option-list">
          <% if order_item["selected_option_id"].to_i > 0 %>
            <% option = Option.find(order_item["selected_option_id"].to_i) %>
            <li><%= option.name %> - <%= t("order.price") %> <%= number_to_currency(option.price) %></li>
          <% end %>
      </ul>
    </div>
  <% end %>
  <h3 class="total-price"><%= t("order.total_price") %><%= number_to_currency(calculate_total_price(@order_tmp)) %></h3>
</div>
