<header id="header" class="header fixed-top d-flex align-items-center">
  <div class="container d-flex align-items-center justify-content-between">
    <%= link_to raw("<h1>Yummy<span>.</span></h1>"), root_path,
    class: "logo d-flex align-items-center me-auto me-lg-0" %>
    <nav id="navbar" class="navbar">
      <ul>
        <li><%= link_to t(".home"), root_path %></li>
        <li><%= link_to t(".menu"), category_path('category-1') %></li>
        <li><%= link_to t(".all_cuisines"), cuisines_path %></li>
        <li><%= link_to t("order.name"), order_path %></li>
        <li><%= link_to t("order.payment"), new_order_path %></li>
        <li><%= link_to t("order.history"), order_history_path %></li>
      </ul>
    </nav>
    <div class="d-flex gap-3 align-items-center">
      <div class="notif">
        <i class="bi bi-bell notif-icon" id="notif-icon"></i>
        <div class="notif-modal" id="notif-modal"></div>
      </div>
      <div class="btn btn-book-a-table"><i class="bi bi-cart3"></i></div>
      <% if user_signed_in? %>
        <div class="dropdown">
          <a href="#" id="account" class="dropdown-toggle h-100">
            <%= current_user.email %> <b class="caret"></b>
          </a>
          <div id="dropdown-menu" class="dropdown-menu">
            <%= link_to t(".my_account"), edit_user_registration_path, class: "dropdown-item" %>
            <%= link_to t(".my_purchase"), order_history_path, class: "dropdown-item" %>
            <li class="dropdown-divider" ></li>
            <%= link_to t(".logout"), destroy_user_session_path,
            data: {"turbo-method": :delete}, class: "dropdown-item" %>
          </div>
        </div>
      <% else %>
        <%= link_to t(".login"), new_user_session_path, class: "login" %>
      <% end %>
    </div>
  </div>
</header>
