<%= bootstrap_form_for([:admin, @cuisine], url: admin_cuisine_path(slug: @cuisine.slug), method: :patch) do |f| %>
  <%= f.alert_message t("admin.shared.cuisine_form.please_fix_errors_below") %>
  <div class="row">
    <div class="col"><%= f.text_field :name , label: t("admin.shared.cuisine_form.name") %></div>
    <div class="col"><%= f.text_field :price , label: t("admin.shared.cuisine_form.price") %></div>
    <div class="col"><%= f.text_field :discount , label: t("admin.shared.cuisine_form.discount") %></div>
  </div>
  <div class="row">
    <div class="col"><%= f.text_area :description , label: t("admin.shared.cuisine_form.description"), placeholder: t("admin.shared.cuisine_form.description_placeholder") %></div>
    <div class="col"><%= f.select :category_id, @categories, { label: t(".choose_category") }, { class: "selectpicker" } %></div>
    <div class="col"><%= f.file_field :image , label: t("admin.shared.cuisine_form.image") %></div>
  </div>
  <%= f.check_box :available , label: t("admin.shared.cuisine_form.available") %>
  <%= f.submit t("admin.shared.cuisine_form.save"), class: "btn btn-primary", data: { turbo: false } %>
<% end %>
