<tr>
  <td><%= image_tag cuisine_image(cuisine), class: cuisine_image_class(cuisine) , width: 100 %></td>
  <td><%= link_to cuisine.name, edit_admin_cuisine_path(slug: cuisine.slug) %></td>
  <td><%= cuisine.category_name %></td>
  <td><%= cuisine.description %></td>
  <td><%= number_to_currency(cuisine.price) %></td>
  <td><%= "#{cuisine.discount}%" %></td>
  <td class="operations">
    <%= link_to t(".edit"), edit_admin_cuisine_path(slug: cuisine.slug), class: "btn btn-primary" %>
    <%= link_to t(".delete"), admin_cuisine_path(slug: cuisine.slug), data: {"turbo-method": :delete, turbo_confirm: t("admin.shared.cuisine.are_you_sure") }, class: "btn btn-danger" %>
  </td>
</tr>
